* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

/*-----------------------------------------------*/


.content-title {
	display: flex;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
	padding: 20px 0 20px 0;
	border-bottom-style: solid;
	border-width: 1px;
}

.content-table-frame {
	padding: 30px 0 30px 0;
}

.content-table {
	width: 80%;
	margin: auto;
}